[submodule "MyFramework"]
	path = MyFramework
	url = https://github.com/MySoftwareDEV-M/Python---MyFramework.git
	branch = v1.1
[submodule "MyPyDrawIO"]
	path = MyPyDrawIO
	url = https://github.com/MySoftwareDEV-M/Python---MyPyDrawIO.git
	branch = v1.1
